streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langchain-google-genai
beautifulsoup4
markdownify
selenium
faiss-cpu
flashrank
rank_bm25
python-dotenv
numpy<2.0.0