streamlit
python-dotenv
selenium
webdriver-manager
langchain
langchain-core
langchain-community
langchain-google-genai
faiss-cpu
unstructured
unstructured[html]
nltk
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl